@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

body {
  font: 400 16px/1.5 "Taz Light", Helvetica, sans-serif;
  color: #111;
  background-color: #efa7ca;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal; }

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

img {
  max-width: 100%;
  vertical-align: middle; }

figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

a {
  color: #2a7ae2;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

.wrapper:after {
  content: "";
  display: table;
  clear: both; }

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

@font-face {
  font-family: 'Taz Light';
  src: url("/fonts/taz/taz-light-webfont.eot");
  src: local("☺"), url("/fonts/taz/taz-light-webfont.woff") format("woff"), url("/fonts/taz/taz-light-webfont.ttf") format("truetype"), url("/fonts/taz/taz-light-webfont.svg") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Taz Light Italic';
  src: url("/fonts/taz/taz-lightitalic-webfont.eot");
  src: local("☺"), url("/fonts/taz/taz-lightitalic-webfont.woff") format("woff"), url("/fonts/taz/taz-lightitalic-webfont.ttf") format("truetype"), url("/fonts/taz/taz-lightitalic-webfont.svg") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Taz Semi Light';
  src: url("/fonts/taz/taz-seml-webfont.eot");
  src: local("☺"), url("/fonts/taz/taz-seml-webfont.woff") format("woff"), url("/fonts/taz/taz-seml-webfont.ttf") format("truetype"), url("/fonts/taz/taz-seml-webfont.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Taz';
  src: url("/fonts/taz/taz-webfont.eot");
  src: local("☺"), url("/fonts/taz/taz-webfont.woff") format("woff"), url("/fonts/taz/taz-webfont.ttf") format("truetype"), url("/fonts/taz/taz-webfont.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Taz Semibold';
  src: url("/fonts/taz/taz-semibold-webfont.eot");
  src: local("☺"), url("/fonts/taz/taz-semibold-webfont.woff") format("woff"), url("/fonts/taz/taz-semibold-webfont.ttf") format("truetype"), url("/fonts/taz/taz-semibold-webfont.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Taz Bold';
  src: url("/fonts/taz/taz-bold-webfont.eot");
  src: local("☺"), url("/fonts/taz/taz-bold-webfont.woff") format("woff"), url("/fonts/taz/taz-bold-webfont.ttf") format("truetype"), url("/fonts/taz/taz-bold-webfont.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Taz ExtraBold';
  src: url("/fonts/taz/taz-extrabold-webfont.eot");
  src: local("☺"), url("/fonts/taz/taz-extrabold-webfont.woff") format("woff"), url("/fonts/taz/taz-extrabold-webfont.ttf") format("truetype"), url("/fonts/taz/taz-extrabold-webfont.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Taz Black';
  src: url("/fonts/taz/taz-black-webfont.eot");
  src: local("☺"), url("/fonts/taz/taz-black-webfont.woff") format("woff"), url("/fonts/taz/taz-black-webfont.ttf") format("truetype"), url("/fonts/taz/taz-black-webfont.svg") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Taz UltraBlack';
  src: url("/fonts/taz/taz-ultrablack-webfont.eot");
  src: local("☺"), url("/fonts/taz/taz-ultrablack-webfont.woff") format("woff"), url("/fonts/taz/taz-ultrablack-webfont.ttf") format("truetype"), url("/fonts/taz/taz-ultrablack-webfont.svg") format("svg");
  font-weight: 900;
  font-style: normal; }

body {
  background-color: #efa7ca;
  background-image: url("/images/squairy_light.png"); }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    body {
      background-image: url("/images/squairy_light@2x.png");
      background-size: 200px 200px; } }

.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

.site-header {
  position: relative;
  min-height: 100px; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 100px;
  letter-spacing: -1px;
  margin-bottom: 0;
  /* float: left; */
  display: block;
  width: 100%;
  text-align: center;
  background: #012538; }
  .site-title, .site-title:visited {
    color: #fff; }
  .site-title .logo {
    display: block;
    margin: 0 auto;
    padding: 26px;
    width: 100%;
    background: #ff4500; }
    .site-title .logo img {
      max-width: 600px;
      height: auto; }

.logo {
  display: block;
  width: 100%;
  background: #012538;
  margin-bottom: 20px; }
  .logo .logo_inner {
    max-width: 600px;
    margin: 0 auto;
    padding: 26px; }

.site-nav {
  display: block;
  text-align: center;
  /* float: right; */
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #fff;
    line-height: 1.5;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-bottom: 0;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 20px;
    letter-spacing: .025em;
    text-decoration: none;
    padding: 7px 10px; }
    .site-nav .page-link .trigger a:hover {
      color: #111; }
    .site-nav .page-link:hover {
      color: #efa7ca;
      background: #012538;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 15px; }
  .site-nav .active {
    font-family: "Taz Bold", Helvetica, sans-serif;
    background: #012538;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #efa7ca;
      border: 1px solid #e8e8e8;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

.site-footer {
  border-top: 1px solid #424242;
  padding: 30px 0; }
