// Fonts
@font-face {
	font-family: 'Taz Light';
	src: url('/fonts/taz/taz-light-webfont.eot');
	src: local('☺'), url('/fonts/taz/taz-light-webfont.woff') format('woff'), url('/fonts/taz/taz-light-webfont.ttf') format('truetype'), url('/fonts/taz/taz-light-webfont.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Taz Light Italic';
	src: url('/fonts/taz/taz-lightitalic-webfont.eot');
	src: local('☺'), url('/fonts/taz/taz-lightitalic-webfont.woff') format('woff'), url('/fonts/taz/taz-lightitalic-webfont.ttf') format('truetype'), url('/fonts/taz/taz-lightitalic-webfont.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Taz Semi Light';
	src: url('/fonts/taz/taz-seml-webfont.eot');
	src: local('☺'), url('/fonts/taz/taz-seml-webfont.woff') format('woff'), url('/fonts/taz/taz-seml-webfont.ttf') format('truetype'), url('/fonts/taz/taz-seml-webfont.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Taz';
	src: url('/fonts/taz/taz-webfont.eot');
	src: local('☺'), url('/fonts/taz/taz-webfont.woff') format('woff'), url('/fonts/taz/taz-webfont.ttf') format('truetype'), url('/fonts/taz/taz-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Taz Semibold';
	src: url('/fonts/taz/taz-semibold-webfont.eot');
	src: local('☺'), url('/fonts/taz/taz-semibold-webfont.woff') format('woff'), url('/fonts/taz/taz-semibold-webfont.ttf') format('truetype'), url('/fonts/taz/taz-semibold-webfont.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Taz Bold';
	src: url('/fonts/taz/taz-bold-webfont.eot');
	src: local('☺'), url('/fonts/taz/taz-bold-webfont.woff') format('woff'), url('/fonts/taz/taz-bold-webfont.ttf') format('truetype'), url('/fonts/taz/taz-bold-webfont.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Taz ExtraBold';
	src: url('/fonts/taz/taz-extrabold-webfont.eot');
	src: local('☺'), url('/fonts/taz/taz-extrabold-webfont.woff') format('woff'), url('/fonts/taz/taz-extrabold-webfont.ttf') format('truetype'), url('/fonts/taz/taz-extrabold-webfont.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Taz Black';
	src: url('/fonts/taz/taz-black-webfont.eot');
	src: local('☺'), url('/fonts/taz/taz-black-webfont.woff') format('woff'), url('/fonts/taz/taz-black-webfont.ttf') format('truetype'), url('/fonts/taz/taz-black-webfont.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Taz UltraBlack';
	src: url('/fonts/taz/taz-ultrablack-webfont.eot');
	src: local('☺'), url('/fonts/taz/taz-ultrablack-webfont.woff') format('woff'), url('/fonts/taz/taz-ultrablack-webfont.ttf') format('truetype'), url('/fonts/taz/taz-ultrablack-webfont.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}